footer{
    z-index : 2;
    background : $background-black;
    padding-left : 15px;
    padding-bottom : 20px;
    color : white;
    h3{
        font-family: 'Shrikhand';
        padding : 15px 0 15px 0;
        font-weight : 400;
    }
    div{
        
        display : flex;
        padding-bottom : 5px;
        i{
            width : 30px;
            
        }
        p{
            font-weight : 400;
        }
    }
    p{
        font-weight : 300;
        padding-bottom : 5px;
    }
    a{
        font-weight : 300;
        text-decoration : none;
        color : white;
    }
}