.home{
    &-content{
    display : flex;
    flex-direction : column;
    }
    background-color : $background-light;
    padding-top : 40px;
    padding-bottom : 50px;
    h2{
        padding-left : 15px;
    }
    &__restaurant{
        cursor: pointer;
        box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
        border-radius : 20px;
        background : #FFFFFF;
        margin : 15px;
        height : 285px;
        img{
            border-radius : 20px 20px 0 0;
            height : 200px;
            width : 100%;
            object-fit : cover;
        }
        &__infos{
            display : flex;
            padding-left : 15px;
            &__header{
                flex : 8;
                white-space : nowrap;
                overflow : hidden;
                h3{
                    padding-top : 15px;
                    overflow : hidden;
                    text-overflow : ellipsis;
                }
                p{
                    padding-top : 5px;
                    font-size : 20px;
                    font-weight : 300;
                    overflow : hidden;
                    text-overflow : ellipsis;
                }
            }
            .like{
                padding-top : 20px;
                font-weight : 100;
                font-size : 12px;
                transform : scaleY(1.2);
                i{
                    -webkit-text-stroke: 0.8px white;
                }
                .none{
                    opacity : 0;
                    position : relative;
                    left : -27.7px;
                    transition : 0.3s;
                    background: linear-gradient(0deg, rgba(147,86,220,1), rgba(255,121,218,1) 100%);
                    -webkit-text-stroke: 0px;
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
        .contain-new{
            display : flex;
            justify-content: right;
            position : relative;
            top : -260px;
            padding-right : 15px;
            .new{
                background-color : $background-green;
                width :70px;
                padding : 7px;
                border-radius : 5px;
                p{
                    text-align : center;
                    color : #1f8f75;
                    font-size : 18px;
                    font-weight : 500;
                }
            }
        }
        
    }
}
@media screen and (min-width : 900px){
    .home-content{
        flex-direction : row;
    }
    .home__restaurant{
        flex : 1;
    }
    .new{
        right : -60%;
        width : 30%;
    }
}