$background-black: rgb(50, 50, 50);
$background-light : rgb(245, 245, 245);
$background-dark : rgb(225, 225, 225);
$background-green : #99E2D0;
$background-gradient : linear-gradient(0deg, rgba(147,86,220,1), rgba(255,121,218,1) 100%);